# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# autoconf
configure
config.h
config.status
.deps/
zlib-1.2.3/Makefile
zlib-1.2.3/zconf.h

# TeX middle files
*.aux
*.bbl
*.blg
*.dvi
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.ps
*.thm
*.toc
*.lof
*.lot
*.loe
# Beamer generated:
*.nav
*.snm
*.vrb
# latexmk generated:
*.fls
*.fdb_latexmk
# Biber & biblatex generated:
*.bcf
*.run.xml
